	@charset "utf-8";
	/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'yanone_kaffeesatzlight';
font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;



font-family:"Lato Black";
font-family: 'Lato', sans-serif;

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */


.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top18 { margin-top:18px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top210 { margin-top:210px; }
.top220 { margin-top:220px; }
.top240 { margin-top:240px; }
.top270 { margin-top:270px; }
.top300 { margin-top:300px; }
.top320 { margin-top:320px; }
.top350 { margin-top:350px; }
.top395 { margin-top:395px; }
.top560 { margin-top:560px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom210 { margin-bottom:210px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left210 { margin-left:210px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right90 { margin-right:90px; }
.right100 { margin-right:100px; }
.right130 { margin-right:130px; }
.right210 { margin-right:210px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }



.container{
	width: 1170px !important;
}

.padding0{
	padding: 0px !important;
}


.input100{
	width: 100% !important;
}


.lato-black{
	font-family:"Lato Black";
}



body{
	background:#ededed;
	font-weight:300;
	font-family: 'Lato', sans-serif;
	
}



h1{
	font-weight:300;
	color: #000;
	font-size:30px;
	
}

h1 span{
	font-weight:700;
	font-size:23px;
}


h2{
	font-weight:400;
	font-size:15px;
	color:#fff;
}

h3 {
	line-height:32px;
	font-weight:700;
	color: #656565;
	font-size:20px;
	
}

h3 span{
	
}


h4{ 
	line-height:24px;
	font-weight:700;
	color: #010101;
	font-size:30px;
	
}

h4 span{ 
	font-weight:300;
	font-size:20px;
}

h5{
	font-weight:700;
	color: #fff;
	font-size:48px;
}

h5 span{
	font-weight:300;
	color: #000;
	font-size:31px;
}

h6 {
	font-weight: 100;
	color: #000;
	font-size: 32px;
	text-decoration: underline;
}

h6 span{
	font-weight: 300;
	color: #000;
	font-size: 40px;
	text-decoration: underline: ;
}


p{
	font-weight: 300;
	font-size: 20px;
	color: #000;
	text-align: justify;
}

a:hover{
	text-decoration: none !important;
}



/**
============================================
					rodape
============================================
*/
.rodape{
	background: #cecece;
}

/* usando gradiente = background-image: linear-gradient(to top, #ededed, #a4a2a6); */
.rodape-preto{
	background:#000;
}

.rodape-preto h5{
	font-size:20px;
	color: #fff;
	font-weight: 300;
}


.menu-rodape li a {
	color: #000;
	font-size: 20px;
	font-weight: 3	00;
	margin-right: 20px;
}

.menu-rodape li a:hover{
	margin-right: 20px;
	font-weight: 700;
}


.menu-rodape {
	list-style: none;
	padding: 0px;
}

.bg-menu-rodape {
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
} 

.menu-rodape li {
	float: left;
}

.rodape p {
	font-size: 19px;
}

.rodape p i {
	margin-right: 10px;
}

/**
============================================
					rodape
============================================
*/



/**
============================================
					topo
============================================
*/


/*manter topo sempre em cima do slider*/
/* .topo-site{
	position: absolute;
	top: 0px;
	z-index: 500;
	width: 100%;
	} */
	/*manter topo sempre em cima do slider*/

	.fundo-cinza-grandiente{
		background-image: linear-gradient(to top, #ededed, #eaeaea); 
	}

	.tam-btn-topo, .tam-btn-topo:hover {
		line-height: 32px;
		padding: 4px 10px;
		vertical-align: middle;
		border-radius: 0px;
		background: #ed1f1f;
		font-size: 20px;
		color: #fff;
		font-weight: 700;
		text-align: right;
	}

	.topo-meu-orcamento.pull-right {
		padding: 10px;
		right: 16px;
		left: auto;
	}


	.btn-vermelho {
		border-radius:5px;
		font-size: 15px;
		color: #fff;
		text-align: left;
		line-height: 16px;
		background: #e81e1e;
	}

	.btn-vermelho-grande {
		width:150px;
		height:70px;
		border-radius:0px;
		font-size: 20px;
		color: #fff;
		line-height: 32px;
		background: #e81e1e;
	}

	.btn-restrito{
		height:72px;
		padding-top:0px;
		border-radius:0px;
		font-size: 13px;
		color: #fff;
		text-align: center;
		background: url(../imgs/sombra-area-restrita.png);
	}

	.btn-restrito:hover{
		color: #656565;
	}

	.fundo-vermelho{
		height:72px;
		background: #e81e1e;
	}

	.posicao-logo img{
		margin-top:-68px;
	}



/**
============================================
Diagonal menu buttons
============================================
*/
.group:after {
	content: "";
	display: table;
	clear: both;
}

/* General styling
----------------------- */
/* */

@media (min-width: 800px) {
	body {
		font-size: 2em;
	}
}

a {
	text-decoration: none;
}

/* Nav
------------------------ */
nav {
	position: relative;
	float: left;
	left: 50%;
	max-width: 50em;
}
@media screen and (min-width: 41em) {
	nav {
		float: none;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		padding: 0 1em;
	}
}

nav ul {
	position: relative;
	float: left;
	left: -50%;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 41em) {
	nav ul {
		float: right;
		left: 0;
		margin-left: 0;
		margin-right: 0;
	}
}

nav li {
	float: left;
	position: relative;
}

/* Here we go! Time to skew. */
nav li {
	transform: skewx(-13deg);
	transition: background .2s ease, color .2s ease;
}

/**
============================================
Diagonal menu buttons
============================================
*/
.menu-topo li {
	padding: 24px 11px;
	background: none;
	font-size: 17px;
	font-weight: 300;
	color: #fff;
	height: 72px;
}

.menu-topo li a{
	color:#fff;
}
.menu-topo li:hover{
	background:url(../imgs/sombra-area-restrita.png);
}

.menu-topo li.active{
	background:url(../imgs/sombra-area-restrita.png);
}


.menu-topo a span{
	padding: 5px;
	border:2px solid #fff;
	border-radius:20px;
}


/**
============================================
					topo
============================================
*/



/**
============================================
					HOME
============================================
*/

/* Carousel base class */
.carroucel-home .carousel {
	height: 630px;
}
/* Since positioning the image, we need to help out the caption */
.carroucel-home .carousel-caption {
	text-align: left;
	z-index: 10;
	bottom: 0px;
}

/* Declare heights because of positioning of img element */
.carroucel-home .carousel .item {
	height: 630px;
}


.carroucel-home .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 630px;
}

.carroucel-home{
	margin-top:-1px;
}

.carroucel-home p {
	overflow: hidden;
	color: #fff;
	height: 134px;
}



.carroucel-home .carousel-caption {
	top:50px;
	right:0px;
	left: 0px;
}

.carroucel-home li{
	margin:0px !important;
	width:20px;
	height:20px;
	background:#ed1f1f;
	opacity:0.5;
}

.carroucel-home li.active{
	margin:0px !important;
	width:20px;
	height:20px;
	background:#ed1f1f;
	opacity:1;
}

.carroucel-home .carousel-indicators {
	top: 520px;
	left: 110px;
}

.btn-transparente{
	padding:15px 50px;
	border-radius:10px;
	border:2px solid #fff;
	font-weight:700;
	color:#fff;
	font-size:20px;
	background:none;
}

.btn-transparente-produtos{
	padding:15px 35px;
	border-radius:10px;
	border:1px solid #000;
	font-weight:700;
	color:#000;
	font-size:20px;
	background:none;
}

.carroucel-home .carousel-control{
	opacity:1;
	color:#000;
	position: absolute;
	top: 533px;
	width: 7%;
	z-index: 999;
}

.carroucel-home .glyphicon-chevron-right {
	right: 993px;
}

.carroucel-home .carousel-control:hover{
	color:#000;
	opacity:0.5;
}


/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after {
 	background: #777;
 	bottom: 7px;
 	box-shadow: 0 15px 10px #777;
 	content: "";
 	left: 1px;
 	max-width: 300px;
 	position: absolute;
 	top: 63%;
 	transform: rotate(-3deg);
 	width: 50%;
 	z-index: -1;
 }
 .effect2:after
 {
 	transform: rotate(3deg);
 	right: 1px;
 	left: auto;
 }

/*==================================================
 * carroucel 4 produtos
 * ===============================================*/

 /* The controlsy */
 .produtos-home .carousel-control {
 	height: 40px;
 	width: 40px;
 	background: none repeat scroll 0 0 #222222;
 	border: 4px solid #FFFFFF;
 	border-radius: 23px 23px 23px 23px;
 	margin-top: 450px;
 }
 .produtos-home .carousel-control.right {
 	left: 1128px;
 }
 /* The indicators */
 .produtos-home .carousel-indicators {
 	right: 50%;
 	top: auto;
 	bottom: -75px;
 	margin-right: -19px;
 }
 /* The colour of the indicators */
 .produtos-home .carousel-indicators li {
 	margin:0px;
 	opacity:0.5;
 	width: 20px;
 	height:20px;
 	background: #ed1f1f;
 }
 .produtos-home .carousel-indicators .active {
 	opacity:1;
 	width: 20px;
 	height:20px;
 	background: #ed1f1f;
 }
/*==================================================
 * carroucel 4 produtos
 * ===============================================*/


 .fundo-cinza{
 	background: rgba(255,255,255,1);
 	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(26%, rgba(255,255,255,1)), color-stop(89%, rgba(209,209,209,1)), color-stop(100%, rgba(201,201,201,1)));
 	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=1 );
 }

 .produtos-home p{
 	overflow:hidden;
 	height:138px;
 }

 .posicao{
 	position:relative;
 }

 .posicao-imagem-produtos{
 	bottom:0px;
 	right:0px;
 	position: absolute;
 }

 .fundo-vermelho-grandiente{
 	background:#ed1f1f;
 	-webkit-box-shadow: inset 0px 0px 103px 41px rgba(0,0,0,0.27);
 	-moz-box-shadow: inset 0px 0px 103px 41px rgba(0,0,0,0.27);
 	box-shadow: inset 0px 0px 103px 41px rgba(0,0,0,0.27);
 }

 .fundo-vermelho-grandiente p {
 	overflow: hidden;
 	max-height: 230px;
 	opacity: 0.5;
 	color: #fff;
 }

 .btn-transparente-conheca{
 	opacity:0.5;
 	padding:10px 30px;
 	border-radius:5px;
 	border:1px solid #fff;
 	font-weight:700;
 	color:#fff;
 	font-size:20px;
 	background:none;
 }

 .btn-transparente-conheca:hover{
 	opacity:1;
 	border:1px solid #fff;
 	color:#fff;
 }

 .fundo-vermelho-grandiente h4{
 	color:#fff;
 }

 .fundo-vermelho-grandiente h3{
 	opacity:0.5;
 	color:#fff;
 }
 .servicos-home img{
 	margin-top:-90px;
 }

 .servicos-home{
 	border-bottom:2px solid #e91f1f;
 }

 .servicos-home .fa-star{
 	font-size:30px;
 }

 .servicos-home p{
 	max-height:54px;
 	overflow:hidden;
 }

 .dicas-home p{
 	color:#fff;
 	height:62px;
 	overflow:hidden;
 }
 .dicas-home{
 	position:relative;
 	padding:0px;
 	background:#ed1f1f;
 }

 .borda-interna {
 	left: 15px;
 	top: 15px;
 	position: absolute;
 	width: 327px;
 	height: 295px;
 	border: 10px solid #fff;
 }
/**
============================================
					HOME
============================================
*/

/**
============================================
					EMPRESA
============================================
*/
.bg-empresa{
	position:relative;
	height:432px;
	background:url(../imgs/bg-empresa.jpg) top center no-repeat;
}


.bg-interna{
	height:432px;
}


.imagem{
	position:absolute;
	top:120px;
	left: 64px;
}

.empresa-descricao{
	border-bottom:2px solid #e91f1f;
}

.empresa-descricao img{
	margin-top:-180px;
}

.empresa-descricao p{
	padding-right:15px;
	
}

.scroll{
	overflow-y: auto;
	height: 388px;
}

.categoria-descricao{
	background:url(../imgs/fundo-transparente-empresa.png);
	padding:27px 71px; 
}

.categoria-descricao h1 {
	overflow: hidden;
	height: 85px;
	margin-top: 27px;
	color: #000;
	font-size: 24px;
}

.categoria-descricao a h1:hover{
	font-weight:700;
}
/**
============================================
					EMPRESA
============================================
*/

/**
============================================
					DICAS
============================================
*/
.bg-dicas{
	position:relative;
	height:430px;
	background:url(../imgs/bg-dicas.jpg) top center no-repeat;
}

.subir-dicas{
	margin-top: -40px;
}


.stylish-input-group .input-group-addon{
	height:56px;
	background: #fff !important; 
}

.stylish-input-group .form-control{
	color:#000;
	height:56px;
	border-radius:0px;
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
	font-size:20px;
	border:0;
	background:transparent;
}

.dicas-dentro{
	position:relative;
}
.dicas-dentro-barra {
    left: 15px;
    top: 15px;
    position: absolute;
    width: 1112px;
    height: 472px;
    border: 10px solid #fff;
}
.posicao-texto p{
	color:#fff;
}


.posicao-texto{
	position:absolute;
	bottom:40px;
	left:0px;
	padding: 10px 20px;
	background:url(../imgs/fundo-transparente-dicas.png);
}

.comentario-dicas h2 {
	font-size: 25px;
	color: #000;
	font-weight: 700;
}

.btn-comentario {
	border-radius: 0px;
	padding: 16px 70px;
	background: #ed1f1f;
	font-size: 17px;
	color: #fff;
	font-weight: 300;
}

.comentario-dicas .jumbotron {
	padding: 20px;
	border-radius: 0px !important;
	background: #bebebe;
}

.comentario-dicas h1{
	font-weight: 400;
	color: #000;
	font-size: 25px;
}


.jumbotron p {
	margin-bottom: 15px;
}

/**
============================================
					DICAS
============================================
*/


/**
============================================
					CONTATOS
============================================
*/
.bg-contatos{
	height:429px;
	background:url(../imgs/bg-fale-conosco.jpg) top center no-repeat;
}


.btn-fale,.btn-fale.active{
	opacity:1;
	padding-top:10px;
	font-weight:700;
	font-size:20px;
	color:#000;
	border-radius:0px;
	width:445px;
	height:57px;
	background: #fff url(../imgs/icon-fale.png)center left 26px no-repeat;
}

.btn-fale:hover{
	opacity:0.5;
	padding-top:10px;
	font-weight:700;
	font-size:20px;
	color:#000;
	border-radius:0px;
	width:445px;
	height:57px;
	background: #fff url(../imgs/icon-fale.png)center left 26px no-repeat;
}


.btn-trabalhe,.btn-trabalhe.active{
	opacity:1;
	padding-top:10px;
	font-weight:700;
	font-size:20px;
	color:#000;
	border-radius:0px;
	width:445px;
	height:57px;
	background: #fff url(../imgs/icon-trabalhe.png)center left 26px no-repeat;
}

.btn-trabalhe:hover{
	opacity:0.5;
	padding-top:10px;
	font-weight:700;
	font-size:20px;
	color:#000;
	border-radius:0px;
	width:445px;
	height:57px;
	background: #fff url(../imgs/icon-trabalhe.png)center left 26px no-repeat;
}

.contatos h5,.contatos h2{
	margin-top:5px;
	color:#000;
}

.contatos input{
	padding-left:10px;
	height:50px;
	margin-top:10px;
	font-size:20px;
	background:#d8d8d9;
}

.btn-danger{
	margin-top:5px;
	padding-top: 10px;
	font-size:20px;
	border-radius:0px;
	height:49px;
	width:239px;
}

.fundo-formulario{
	margin-top:-40px;
	overflow:hidden;
	background:#fff;
}

.fundo-formulario,.form-inline .form-group {
	border-radius:0px;
}

.fundo-formulario textarea{
	font-size:18px;
	border-radius:0px;
	padding:20px;

}
.fundo-formulario input{
	border-radius:0px;

}

.form-inline .has-feedback .form-control-feedback {
	top: 3px !important;
}
/**
============================================
					CONTATOS
============================================
*/


/**
============================================
					ORCAMENTO
============================================
*/
.bg-orcamento{
	height:429px;
	background:url(../imgs/bg-orcamentos.jpg) top center no-repeat;

}

.tb-lista-itens tbody, .tb-lista-itens table {
	margin-bottom: 0px !important;
	background: #d8d8d9;
}

.tb-lista-itens td{
	font-weight: 300;
	color: #000;
	font-size: 17px;
	vertical-align: middle !important;
}

.tb-lista-itens img{
	border:2px solid #000;
}

.input-lista-prod-orcamentos {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.input-lg, .form-group-lg .form-control {
	border-radius: 0px;
}

.btn-formulario{
	border-radius:0px;
	font-size:20px;
	padding:15px 30px;
	background: #ed1f1f;
	color: #fff;
}

.btn-vermelho{
	border-radius:0px;
	font-size:17px;
	padding:10px 20px;
	background: #ed1f1f;
	color: #fff;
}
/**
============================================
					ORCAMENTO
============================================
*/
/**
============================================
					EQUIPAMENTOS
============================================
*/

.bg-equipamentos{
	height:429px;
	background:url(../imgs/bg-produtos.jpg) top center no-repeat;
}

.produtos-geral{
	margin-top:-54px;
}
.produtos-geral p{
	overflow:hidden;
	height: 90px;
}

.titulo-internos{
    height: 293px;
}

.titulo-internos h1{
	font-size:35px;
	color:#fff;
	font-weight:700;
	min-height: 45px;
}

.titulo-internos h2{
	line-height:62px;
	font-size:60px;
	color:#fff;
	font-weight:700;
}

.btn_orcamento{
	padding-top:12px;
	text-align:center;
	border:2px solid #000;
	font-weight:700;
	width:467px;
	height:58px;
	border-radius:0px;
	background:none;
	font-size:20px;
	font-weight:;
	color:#000;
}

.btn_orcamento:hover{
	border:2px solid #c2c2c2;
	color:#c2c2c2;
}
.fa-cart-arrow-down:before {
	font-size: 30px;
}

.equipamento_dentro p{
	overflow:hidden;
	height:138px;
}
 /**
}
============================================
					EQUIPAMENTOS
============================================
*/



.bg_servicos{
	height:429px;
	background:url(../imgs/bg-servicos.jpg) top center no-repeat;
}



.servicos_gerais p{
overflow:hidden;
height:195px;
}

.servico_img{
	position:relative;
}

.borda_servico {
	border: 10px solid #fff;
	top: 10px;
	left: 10px;
	height: 447px;
	width: 631px;
	position: absolute;
}

.btn-transparente-servicos{
	padding:15px 50px;
	border-radius:10px;
	border:2px solid #000;
	font-weight:700;
	color:#000;
	font-size:20px;
	background:none;
}



.lista-equipamento h1{
	height: 65px;
    overflow: hidden;
}






.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
	padding-bottom: 10px;
}


.lista-itens-carrinho h1{
	font-size: 17px;
}





.topo-meu-orcamento {
	background: #fff;
	width: 570px;
	padding: 0px 10px;
}






.ul-maps ul li a{
	background: #e81e1e;
	color: #fff;
}



.ul-maps .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background: #B91818;
	color: #fff;
}






.tel-topo h4{
	font-size: 23px;
}







