@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'Lato', sans-serif;
font-family:"Lato Black";
*/

@import url('./fonts.css');

/* Reset */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */


.top1 { margin-top:1px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top12 { margin-top:12px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top110 { margin-top:110px; }
.top130 { margin-top:130px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top155 { margin-top:155px; }
.top160 { margin-top:160px; }
.top170 { margin-top:170px; }
.top180 { margin-top:180px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top205 { margin-top:205px; }
.top210 { margin-top:210px; }
.top230 { margin-top:230px; }
.top250 { margin-top:250px; }
.top260 { margin-top:260px; }
.top270 { margin-top:270px; }
.top330 { margin-top:330px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }
.right230 { margin-right:230px; }

.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt170 { padding-top:170px; }
.pt190 { padding-top:190px; }
.pt200 { padding-top:200px; }
.pt300 { padding-top:300px; }

.pl5 { padding-left:5px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }


.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb5 { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px !important; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb70 { padding-bottom:70px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb190 { padding-bottom:190px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }


.pg0{
	padding: 0px;
}

.container {
	max-width: 480px;
}

.input100 {
	width: 100% !important;
}



body {
	background: #ededed;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}



.padding0{
	padding:0px !important;
}

.lato-black{
	font-family:"Lato Black";
}

h1 {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
}

h1 span {
	color:#000;
    font-weight: 400;
    font-size: 22px;
}

h2 {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

h2 span{
	
}


h3 {
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    font-size: 19px;
}

h3 span{
	
}

h4 {
    font-weight: 700;
    color: #010101;
    font-size: 17px;
}

h4 span{
	font-size: 20px;
}


h5 {
    font-weight: 700;
    color: #fff;
    font-size: 30px;
}

h5 span{
	

}

h6 span {
    font-weight: 300;
    color: #000;
    font-size:30px;
    text-decoration: underline;
}

p {
	color:#000;
	font-size:15px;
	text-align: justify;
}

p span{
	color:#fff;
}


a:hover {
	text-decoration: none;
}




/**
============================================
					RODAPE
============================================
*/

.bg-fundo-preto{
	position: relative;
	background: #000;
}

.bg-fundo-preto p{
	color: #fff;
	font-weight: 700;
	padding: 10px 0px;
	text-align: center;
}


/**
============================================
					RODAPE
============================================
*/



/**
============================================
					TOPO
============================================
*/


.fundo-cinza-grandiente {
    background-image: linear-gradient(to top, #ededed, #888282);
}
.btn-preto,.btn-preto:hover{
    border-radius: 0px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    background: #000;
}

.fundo-cinza {
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(26%, rgba(255,255,255,1)), color-stop(89%, rgba(209,209,209,1)), color-stop(100%, rgba(201,201,201,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=1 );
}

.menu-topo{
	height:64px;
	background:#ed1f1f;
}

.btn_transparente,.btn_transparente:hover{
	font-size:20px;
	height:64px;
	padding: 20px 25px;
	border-radius:0px;
	color:#fff;
	background:url(../imgs/fundo-transparente.png);
}

.btn-menu,.btn-menu:hover{
	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	font-size:17px;
	color:#fff;
	font-family:"Lato Black";
}

.btn-cinza, .btn-cinza:hover {
	font-size:15px;
	border-radius:0px;
    background: #eaeaea;
    color: #000;
}

.topo-meu-orcamento{
	padding: 5px;
}

/**
============================================
					TOPO
============================================
*/




/**
============================================
					HOME
============================================
*/

/* Carousel base class */
.carroucel-home .carousel {
	height: 562px;
}
/* Since positioning the image, we need to help out the caption */
.carroucel-home .carousel-caption {
	text-align: left;
	z-index: 10;
	bottom: 0px;
}

/* Declare heights because of positioning of img element */
.carroucel-home .carousel .item {
	height: 562px;
}


.carroucel-home .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 562px;
}

.carroucel-home{
	margin-top:-1px;
}


.carroucel-home .carousel-caption {
	top:50px;
	right:0px;
	left: 0px;
}

.carroucel-home li{
	margin:0px !important;
	width:20px;
	height:20px;
	background:#ed1f1f;
	opacity:0.5;
}

.carroucel-home li.active{
	margin:0px !important;
	width:20px;
	height:20px;
	background:#ed1f1f;
	opacity:1;
}

.carroucel-home .carousel-indicators {
    top: 572px;
}

.btn-transparente,.btn-transparente:hover{
	padding:15px 50px;
	border-radius:10px;
	border:2px solid #fff;
	font-weight:700;
	color:#fff;
	font-size:20px;
	background:none;
}

.btn-transparente-produtos{
	padding:15px 35px;
	border-radius:10px;
	border:1px solid #000;
	font-weight:700;
	color:#000;
	font-size:20px;
	background:none;
}

.carroucel-home .carousel-control {
    opacity: 1;
    color: #000;
    position: absolute;
    top: 570px;
    width: 7%;
    z-index: 999;
}


.carroucel-home .carousel-control:hover{
	color:#000;
	opacity:0.5;
}
.carroucel-home .glyphicon-chevron-right {
	right: 156px;
}


/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after {
 	background: #777;
 	bottom: 7px;
 	box-shadow: 0 15px 10px #777;
 	content: "";
 	left: 1px;
 	max-width: 300px;
 	position: absolute;
 	top: 63%;
 	transform: rotate(-3deg);
 	width: 50%;
 	z-index: -1;
 }
 .effect2:after
 {
 	transform: rotate(3deg);
 	right: 1px;
 	left: auto;
 }

/*==================================================
 * carroucel 4 produtos
 * ===============================================*/

 /* The controlsy */
 .produtos-home .carousel-control {
 	height: 40px;
 	width: 40px;
 	background: none repeat scroll 0 0 #222222;
 	border: 4px solid #FFFFFF;
 	border-radius: 23px 23px 23px 23px;
 	margin-top: 395px;
 }


 

 .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 150px;
 }
 /* The indicators */
 .produtos-home .carousel-indicators {
 	right: 50%;
 	top: auto;
 	bottom: -30px;
 	margin-right: -19px;
 }
 /* The colour of the indicators */
 .produtos-home .carousel-indicators li {
 	margin:0px;
 	opacity:0.5;
 	width: 20px;
 	height:20px;
 	background: #ed1f1f;
 }
 .produtos-home .carousel-indicators .active {
 	opacity:1;
 	width: 20px;
 	height:20px;
 	background: #ed1f1f;
 }

 .produtos-home h1{
 	overflow:hidden;
 	max-height:86px;
 }
 .produtos-home p {
    overflow: hidden;
    max-height: 67px;
    margin-bottom: 16px;
}

 .posicao{
 	position:relative;
 }

 .posicao-imagem-produtos{
 	bottom:0px;
 	right:0px;
 	position: absolute;
 }

/*==================================================
 * carroucel 4 produtos
 * ===============================================*/


 .fundo-cinza{
 	background: rgba(255,255,255,1);
 	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(26%, rgba(255,255,255,1)), color-stop(89%, rgba(209,209,209,1)), color-stop(100%, rgba(201,201,201,1)));
 	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=1 );
 }


.fundo-vermelho-grandiente{
 	background:#ed1f1f;
 	-webkit-box-shadow: inset 0px 0px 103px 41px rgba(0,0,0,0.27);
 	-moz-box-shadow: inset 0px 0px 103px 41px rgba(0,0,0,0.27);
 	box-shadow: inset 0px 0px 103px 41px rgba(0,0,0,0.27);
 }

 .fundo-vermelho-grandiente p {
 	overflow: hidden;
 	max-height: 230px;
 	color: #fff;
 }

 .btn-transparente-conheca,.btn-transparente-conheca:hover{
 	opacity:1;
 	padding:10px 30px;
 	border-radius:5px;
 	border:1px solid #fff;
 	font-weight:700;
 	color:#fff;
 	font-size:20px;
 	background:none;
 }


 .fundo-vermelho-grandiente h4{
 	color:#fff;
 }

 .fundo-vermelho-grandiente h3{
 	opacity:0.5;
 	color:#fff;
 }

 .servicos-home img{
 	margin-top:-52px;
 }

 .servicos-home{
 	border-bottom:2px solid #e91f1f;
 }

 .servicos-home p{
 	overflow:hidden;
 	max-height:44px;
 }

 .servicos-home .fa-star{
 	font-size:20px;
 }

 .dicas-home p{
 	color:#fff;
 	height:86px;
 	overflow:hidden;
 }


 .dicas-home{
 	position:relative;
 	background:#ed1f1f;
 }

 .borda-interna {
    left: 25px;
    top: 15px;
    position: absolute;
    width: 202px;
    height: 177px;
    border: 10px solid #fff;
}
/**
============================================
					HOME
============================================
*/

/**
============================================
					EMPRESA
============================================
*/
.bg-empresa{
	position:relative;
	height:313px;
	background:url(../imgs/bg-empresa.jpg) top center no-repeat;
}



.empresa-descricao{
	border-bottom:2px solid #e91f1f;
}
.empresa-descricao p{
	padding-right:15px;
	
}

.scroll{
	overflow-y: auto;
	height:330px;
}

.categoria-descricao{
	background:url(../imgs/fundo-transparente-empresa.png);
	padding: 15px 31px;
}

.categoria-descricao h1 {
	overflow: hidden;
	height: 55px;
	margin-top: 15px;
	color: #000;
	font-size: 17px;
}

.categoria-descricao a h1:hover{
	font-weight:700;
}


.titulo-internos h1{
	line-height:34px;
	font-size:34px;
	color:#fff;
	font-weight:700;
}

.titulo-internos h2{
	line-height:68px;
	font-size:86px;
	color:#fff;
	font-weight:700;
}

.carroucel-empresa li{
	margin:0px !important;
	width:20px;
	height:20px;
	background:#ed1f1f;
	opacity:0.5;
}

.carroucel-empresa li.active{
	margin:0px !important;
	width:20px;
	height:20px;
	background:#ed1f1f;
	opacity:1;
}

.carroucel-empresa .carousel-indicators {
    bottom:-29px;
}

.carroucel-home .carousel-caption {
	top:50px;
	right:0px;
	left: 0px;
}


.fundo-vermelho-grandiente-empresa{
 	background:#ed1f1f;
 	-webkit-box-shadow: inset 0px 0px 103px 41px rgba(0,0,0,0.27);
 	-moz-box-shadow: inset 0px 0px 103px 41px rgba(0,0,0,0.27);
 	box-shadow: inset 0px 0px 103px 41px rgba(0,0,0,0.27);
 }


.fundo-vermelho-grandiente-empresa h4,.fundo-vermelho-grandiente-empresa p{
	color:#fff;
}
/**
============================================
					EMPRESA
============================================
*/

/**
============================================
					DICAS
============================================
*/
.bg-dicas{
	position:relative;
	height:313px;
	background:url(../imgs/bg-dicas.jpg) top center no-repeat;
}

.subir-dicas{
	margin-top:-40px;
}


.stylish-input-group .input-group-addon{
	height:56px;
	background: #fff !important; 
}

.stylish-input-group .form-control{
	color:#000;
	height:56px;
	border-radius:0px;
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
	font-size:20px;
	border:0;
	background:transparent;
}

.dicas-dentro{
	position:relative;
}
.dicas-dentro-barra {
    left: 15px;
    top: 15px;
    position: absolute;
    width: 422px;
    height: 339px;
    border: 10px solid #fff;
}

.posicao-texto p{
	font-size:20px;
	color:#fff;
}


.posicao-texto{
	position:absolute;
	bottom:40px;
	left:0px;
	padding: 10px 20px;
	background:url(../imgs/fundo-transparente-dicas.png);
}

.comentario-dicas h2 {
	font-size: 25px;
	color: #000;
	font-weight: 700;
}

.btn-comentario {
	border-radius: 0px;
	padding: 10px 10px;
	background: #ed1f1f;
	font-size: 17px;
	color: #fff;
	font-weight: 300;
}

.comentario-dicas .jumbotron {
	margin-bottom:5px;
	padding: 15px;
	border-radius: 0px !important;
	background: #bebebe;
}

.comentario-dicas h1{
	font-weight: 400;
	color: #000;
	font-size: 20px;
}


.jumbotron p {
	font-weight:300;
	font-size:17px;
	margin-bottom: 15px;
}

.subir{
	margin-top:-30px;
}
/**
============================================
					DICAS
============================================
*/



/**
============================================
					CONTATOS
============================================
*/
.bg-alt-internas{
	height:314px;
}


.btn-fale{
	opacity:0.5;
	padding-top:10px;
	font-weight:700;
	font-size:15px;
	color:#000;
	border-radius:0px;
	width:210px;
	height:41px;
	background: #fff url(../imgs/icon-fale.png)center left 6px no-repeat;
}


.btn-fale.active{
	opacity:1;
	padding-top:10px;
	font-weight:700;
	font-size:15px;
	color:#000;
	border-radius:0px;
	width:210px;
	height:41px;
	background: #fff url(../imgs/icon-fale.png)center left 6px no-repeat;
}



.btn-trabalhe{
	opacity:0.5;
	padding-top:10px;
	font-weight:700;
	font-size:15px;
	color:#000;
	border-radius:0px;
	width:210px;
	height:41px;
	background: #fff url(../imgs/icon-trabalhe.png)center left 2px no-repeat !important;
}


.btn-trabalhe.active{
	opacity:1;
	padding-top:10px;
	font-weight:700;
	font-size:15px;
	color:#000;
	border-radius:0px;
	width:210px;
	height:41px;
	background: #fff url(../imgs/icon-trabalhe.png)center left 2px no-repeat !important;
}

.contatos h4{
	font-size: 16px;
}

.contatos h5,.contatos h2{
	margin-top:5px;
	color:#000;
}

.contatos input{
	padding-left:10px;
	height:50px;
	margin-top:10px;
	font-size:20px;
	background:#d8d8d9;
}

.btn-danger{
	margin-top:5px;
	padding-top: 7px;
	font-size:20px;
	border-radius:0px;
	height:46px;
	width:160px;
}



.fundo-formulario,.form-inline .form-group {
	border-radius:0px;
}

.fundo-formulario textarea{
	font-size:18px;
	border-radius:0px;
	padding:20px;

}
.fundo-formulario input{
	border-radius:0px;

}

.form-inline .has-feedback .form-control-feedback {
	top: 3px !important;
}

.titulo-internos h1{
	font-size:35px;
	color:#fff;
	font-weight:700;
	min-height: 40px;
}

.titulo-internos h2{
	line-height:53px;
	font-size:58px;
	color:#fff;
	font-weight:700;
}

.btn-vermelho-grande {
    width: 125px;
    height: 55px;
    border-radius: 0px;
    font-size: 17px;
    color: #fff;
    background: #e81e1e;
}

.contatos input {
    padding-left: 10px;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    background: #d8d8d9;
}


/**
============================================
					CONTATOS
============================================
*/




/**
============================================
					ORCAMENTO
============================================
*/
.bg-orcamento{
	height:314px;
	background:url(../imgs/bg-orcamentos.jpg) top center no-repeat;

}

.tb-lista-itens tbody, .tb-lista-itens table {
	margin-bottom: 0px !important;
	background: #d8d8d9;
}

.tb-lista-itens .fa-times-circle:before{
	text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
	color:#ed1f1f;
}

.tb-lista-itens td{
	font-weight: 400;
	color: #000;
	font-size: 17px;
	vertical-align: middle !important;
}

.tb-lista-itens img{
	border:2px solid #000;
}

.input-lista-prod-orcamentos {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.input-lg, .form-group-lg .form-control {
	border-radius: 0px;
}

.btn-formulario{
	border-radius:0px;
	font-size:20px;
	padding:10px 15px;
	background: #ed1f1f;
	color: #fff;
}

.btn-vermelho,.btn-vermelho:hover{
	border-radius:0px;
	font-size:17px;
	padding:10px 15px;
	background: #ed1f1f;
	color: #fff;
}
/**
============================================
					ORCAMENTO
============================================
*/


/**
============================================
					EQUIPAMENTOS
============================================
*/

.bg-equipamentos{
	height:429px;
	background:url(../imgs/bg-produtos.jpg) top center no-repeat;
}

.produtos-geral{
	margin-top:-54px;
}
.produtos-geral p{
	overflow:hidden;
	height:138px;
}

.titulo-internos{
    height: 293px;
}


.btn_orcamento,.btn_orcamento:hover{
	padding-top:12px;
	text-align:center;
	border:2px solid #000;
	font-weight:700;
	width:450px;
	height:58px;
	border-radius:0px;
	background:none;
	font-size:20px;
	font-weight:;
	color:#000;
}


.fa-cart-arrow-down:before {
	font-size: 30px;
}

.equipamento_dentro p{
	overflow:hidden;
	height:138px;
}

.equipamento-dentro-barra {
    left: 15px;
    top: 15px;
    position: absolute;
    width: 422px;
    height: 291px;
    border: 10px solid #fff;
}
 /**
============================================
					EQUIPAMENTOS
============================================
*/


 /**
============================================
					SERVICOS
============================================
*/

.bg_servicos{
	height:413px;
	background:url(../imgs/bg-servicos.jpg) top center no-repeat;
}


.servico_img{
	position:relative;
}

.servico_img h1{
	font-size:25px;
	font-weight:400;
	color:#000;
}

.borda_servico {
    border: 10px solid #fff;
    top: 10px;
    left: 10px;
    height: 297px;
    width: 428px;
    position: absolute;
}

.btn-transparente-servicos{
	border-radius:5px;
	border:2px solid #000;
	font-weight:700;
	color:#000;
	font-size:20px;
	background:none;
}



.lista-equipamento h1{
	height: 65px;
    overflow: hidden;
}


.topo-meu-orcamento {
	color: #fff;
	width: 330px;
	margin: 2px 0px 0;
	font-size: 14px;
}

.topo-meu-orcamento h1{
	font-size: 15px;
	color: #000;
}


.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 10px;
	padding-bottom: 5px;
	widows: 380px;
}


.servicos_gerais p{
    height: 68px;
    overflow: hidden;
}



.ul-maps{
	    margin-top: -42px;
}

.ul-maps ul li a{
	background: #e81e1e;
	color: #fff;
}



.ul-maps .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background: #B91818;
	color: #fff;
}









