/* =============== EMPRESA =============== */

.localizacao-pagina {
    height: 5.5rem ;
    padding-top: 38px;
}

.open{font-family: 'Open Sans', sans-serif;}

.btn_cinza_escuro{
    background: #9a9a9a;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}

.btn_float{
    position: absolute;
    bottom:10px;
    z-index: 99;
}

.dicas .card,.produtos .card{
    border: 0;
}

.dicas .card-body {
    min-height: 47px;
}

.dicas h6{
    color: #424242;
    font-weight: 400;
}
.font-index h4{
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 3px #000000;
    font-weight:700;
}

.font-index h5{
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 3px #000000;
    
}

.produtos .card-body{
  
}

.localizacao-pagina h5,.empresa_geral h5,.empresa_geral h4{
    color: #9a9a9a;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) ;
}

.localizacao-pagina h6{
    font-weight: 400;
    color: #9a9a9a;
}




.localizacao-pagina h1{
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) ;
    font-size: 1.5rem /*20px*/;
    line-height: 1.7rem /*24px*/;
}

.localizacao-pagina h2{
    font-weight: 400;
    color: #fff;
    font-size: 1.25rem /*16px*/;
    line-height: 1.30rem /*19px*/;
}



.produtos h6{
    color: #000;
    font-weight: 700;
}

.borda-produto{
    border-bottom: 1px solid #000;
    overflow: hidden;
    padding-bottom: 10px;
}

.empresa_geral h6{
     color: #444444;
     font-weight: 400;
 }

.empresa_geral h6 span{
    font-weight: 700;
    
}


.btn_cinza_escuro,.menu_Cat .list-group-item.active {
    background: #252626;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    border: 0;

}


.btn_Cat {
    background: none;
    color: #252626;
    border: 1px solid #252626;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;

}

.open h6{
    font-size: 12px;
    color: #000;
}

.interna{
    height: inherit;
}

.btn_map{
    background: #9a9a9a;
    color: #fff;
    border-radius: 5px;

}



.index-bg-icones {
    min-height: 52px;
    padding: 5px 5px;
    background: #6b6464;
    opacity: .8;
    border-radius: 10px;
    text-align: center;
    display: block;
    min-height: 88px;
  }

  .index-bg-icones h6{
      color: #fff;
     font-size: 0.7rem;
  }

  .index-bg-icones i.fa{
    font-size: 2.5em;
    color: #fff;
  }

  .lista-unidades{
      margin-bottom: 20px;
      display: block;
  }

  .titulo-unidade{
    background: #e9ecef;
    padding: 10px;
  }

  .lista-produto{
	border: 0;
    background: #f8f8f8;
    padding: 12px;
    margin-right: 6px;
    border-radius: 0px;
    overflow: hidden;
}

.lista-produto h6{
	border-bottom: 6px solid #8F9092;
    padding-bottom: 10px;
    text-transform: uppercase;
}


.lista-categorias-produto{
    background: #c5c5c5;
    text-align: center;
}

.lista-subcategorias-produto{
 
}